body {
  background: #fff;
  color: #444;
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 700;
}

input {
  font-family: 'Segoe UI', sans-serif;
  color: #3c4048;
}

button {
  font-family: 'Segoe UI', sans-serif;
  color: #3c4048;
}

.alert {
  width: 800px;
}
.five-day-header {
  font-weight: 900;
  font-size: 1.5em;
}
.forecast__card {
  padding: 40px 30px;
  background-color: #eeeeee;
  border-radius: 10px;
  color: #3c4048;
}

#searchHistory .btn {
  width: 100%;
}
.weather__card-left {
  width: 400px;
  padding: 40px 30px;
  background-color: #7f8487;
  /* border-radius: 20px; */
  color: #3c4048;
}
.weather__card-right {
  width: 400px;
  padding: 40px 30px;
  background-color: #eeeeee;
  /* border-radius: 20px; */
  color: #3c4048;
}
.weather__card h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 0.1;
  color: #9d9d9d;
}

.weather__card .weather__description {
  background-color: #fff;
  /* border-radius: 25px; */
  padding: 5px 13px;
  border: 0;
  outline: none;
  color: #7f8487;
  font-size: 0.956rem;
  font-weight: 400;
}

.weather__forecast span {
  font-weight: 500;
  color: #3c4048;
  font-size: 1rem;
  padding: 5px 10px;
}

.wind-humidity {
  max-width: 400px;
}

.lrg-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  font-size: 100px;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin: 10px;
  font-size: 120px;
}
.forecast-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 2em;
}

/*  Current Weather Icons (wind and humidty) */
.fa-droplet,
.fa-wind {
  /* color: #f1c40f; */
  color: #f9a089;
}

.btn-info:hover {
  background-color: #f9a089;
  border-color: #f9a089;
  color: #3c4048;
}

.btn-info,
.alert-info {
  padding-top: 5px;
  background-color: #83c7e8;
  border-color: #83c7e8;
  color: #3c4048;
  font-weight: 500;
}

/* USE ICON CODE FROM OPEN WEATHER TO DISPLAY
   CORRECT WEATEHR ICON FROM FONT AWESOME */

/* Clear Sky */
.forecast-icon-container[data-icon='01d']::before,
.forecast-icon-container[data-icon='01n']::before,
.lrg-icon-container[data-icon='01d']::before,
.lrg-icon-container[data-icon='01n']::before {
  content: '\f185'; /* Font Awesome unicode for home icon */
  color: #f9a089;
  font-family: 'Font Awesome 5 Free';
  font-size: 0.75em;
  font-weight: 900;
}

/* Few Clouds */
.forecast-icon-container[data-icon='02d']::before,
.forecast-icon-container[data-icon='02n']::before,
.lrg-icon-container[data-icon='02d']::before,
.lrg-icon-container[data-icon='02n']::before {
  content: '\f6c4'; /* Font Awesome unicode for home icon */
  color: #83c7e8;
  font-family: 'Font Awesome 5 Free';
  font-size: 0.75em;
  font-weight: 900;

  transform: scale(1.1);
  /* color: #fdd023; */
  color: #fdd023;
  background-image: -webkit-linear-gradient(140deg, #83c7e8, #f9a089);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
}

/* Clouds */
.forecast-icon-container[data-icon='03d']::before,
.forecast-icon-container[data-icon='04d']::before,
.forecast-icon-container[data-icon='03n']::before,
.forecast-icon-container[data-icon='04n']::before,
.lrg-icon-container[data-icon='03d']::before,
.lrg-icon-container[data-icon='04d']::before,
.lrg-icon-container[data-icon='03n']::before,
.lrg-icon-container[data-icon='04n']::before {
  content: '\f0c2'; /* Font Awesome unicode for home icon */
  color: #83c7e8;
  font-family: 'Font Awesome 5 Free';
  font-size: 0.75em;
  font-weight: 900;
}

/* Rain */
/* Light Rain */
.forecast-icon-container[data-icon='09d']::before,
.forecast-icon-container[data-icon='09n']::before,
.lrg-icon-container[data-icon='09d']::before,
.lrg-icon-container[data-icon='09n']::before {
  content: '\f743'; /* Font Awesome unicode for home icon */
  color: #83c7e8;
  font-family: 'Font Awesome 5 Free';
  font-size: 0.75em;
  font-weight: 900;
}

/* Light Rain */
.forecast-icon-container[data-icon='10d']::before,
.forecast-icon-container[data-icon='10n']::before,
.lrg-icon-container[data-icon='10d']::before,
.lrg-icon-container[data-icon='10n']::before {
  content: '\f740'; /* Font Awesome unicode for home icon */
  color: #83c7e8;
  font-family: 'Font Awesome 5 Free';
  font-size: 0.75em;
  font-weight: 900;
}

/* Thunderstorm */
.forecast-icon-container[data-icon='11d']::before,
.forecast-icon-container[data-icon='11n']::before,
.lrg-icon-container[data-icon='11d']::before,
.lrg-icon-container[data-icon='11n']::before {
  content: '\e0b7'; /* Font Awesome unicode for home icon */
  color: #fdd023;
  font-family: 'Font Awesome 5 Free';
  font-size: 0.75em;
  font-weight: 900;
}

/* Snow */
.forecast-icon-container[data-icon='13d']::before,
.forecast-icon-container[data-icon='13n']::before,
.lrg-icon-container[data-icon='13d']::before,
.lrg-icon-container[data-icon='13n']::before {
  content: '\f2dc'; /* Font Awesome unicode for home icon */
  color: #83c7e8;
  font-family: 'Font Awesome 5 Free';
  font-size: 0.75em;
  font-weight: 900;
}

/* Hazy Sky, Fog, Smoke, Mist */
.forecast-icon-container[data-icon='50d']::before,
.forecast-icon-container[data-icon='50n']::before,
.lrg-icon-container[data-icon='50d']::before,
.lrg-icon-container[data-icon='50n']::before {
  content: '\f75f'; /* Font Awesome unicode for home icon */
  color: #83c7e8;
  font-family: 'Font Awesome 5 Free';
  font-size: 0.75em;
  font-weight: 900;
}
